%header.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle.pull-left{type: "button", 'data-toggle': "collapse", 'data-target': "#navbar"}
        %span.sr-only
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand= I18n.t('header.title')
      %a.shop-link.pull-right.visible-xs{href: "#"}
        %span.shop-icon
          %span.shop-quantity= I18n.t('header.shop_quantity')
    %a.shop-link.pull-right.hidden-xs{href: "#"}
      %span.shop-icon
        %span.shop-quantity= I18n.t('header.shop_quantity')
    #navbar.navbar-collapse.collapse.pl-30{'aria-expanded': "false"}
      .visible-xs
        %button.close{type: "button", 'aria-label': "Close"}
          %span{'aria-hidden': "true"} &times;
        %ul.nav.navbar-nav
          %li
            %a{href: "#"}= I18n.t('header.home')
          %li
            %a{type: "button", 'data-toggle': "collapse", href: "#menu", 'aria-expanded': "false", 'aria-controls': "menu"}= I18n.t('header.collapse.shop')
            %ul#menu.collapse.list-unstyled.pl-30.mb-10{'aria-expanded': "false"}
              %li
                %a.collapse-link{href: "#"}= I18n.t('header.collapse.mobile')
              %li
                %a.collapse-link{href: "#"}= I18n.t('header.collapse.photo')
              %li
                %a.collapse-link{href: "#"}= I18n.t('header.collapse.design')
          %li
            %a{href: "#"}= I18n.t('header.account')
      .hidden-xs
        %ul.nav.navbar-nav
          %li
            %a{href: "#"}= I18n.t('header.home')
          %li.dropdown
            %a.dropdown-toggle{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}= I18n.t('header.collapse.shop')
            %ul.dropdown-menu
              %li
                %a{href: "#"}= I18n.t('header.collapse.mobile')
              %li
                %a{href: "#"}= I18n.t('header.collapse.photo')
              %li
                %a{href: "#"}= I18n.t('header.collapse.design')
              %li.divider{role: "separator"}
              %li
                %a{href: "#"}= I18n.t('header.logout')
          %li
            %a{href: "#"}= I18n.t('header.account')
