.text-center
  %h3.general-subtitle Returning Customer
  = link_to user_google_oauth2_omniauth_authorize_path,  method: :post, data: {turbo: "false"}, class: 'general-login-icon' do
    %i.fa-brands.fa-google-plus-square
  %p.general-login-text= t('devise.sessions.or')
%form.general-form
  .mb-40
    %p.mb-15 Log In with Password
    = simple_form_for(:user, url: user_session_path, data: { turbo: false }, html: { class: 'general-form' }) do |f|
      .form-group.mb-30
        = f.label :email, class: "control-label input-label"
        = f.email_field :email, placeholder: t('devise.sessions.enter_email'), autocomplete: "email", class: 'form-control has-error', id: 'email_field'
        = f.full_error :email, id: 'inputEmail', class: 'form_errors'
      .form-group.mb-30
        = f.label :password, class: "control-label input-label"
        = f.password_field :password, placeholder: t('devise.sessions.enter_password'), autocomplete: "current-password", class: "form-control", id: 'password_field'
        = f.full_error :password, class: 'form_errors'
        =link_to new_user_password_path, class: 'help-block in-gold-500' do
          = t('devise.passwords.forgot_password')
      = f.submit t('devise.sessions.new.login'), class: "btn btn-default mb-20"
