.text-center
  %h3.general-subtitle New Customer
  = link_to user_google_oauth2_omniauth_authorize_path,  method: :post, data: {turbo: "false"}, class: 'general-login-icon' do
    %i.fa-brands.fa-google-plus-square
  %p.general-login-text= t('devise.sessions.or')
= simple_form_for(:user, url: user_registration_path, data: { turbo: false }, method: :post, html: { class: 'general-form' }) do |f|
  .mb-40
    %p.mb-5 Quik Register
    %p.general-info-text.font-12.mb-20 You’ll be able to create password later
    .form-group.mb-30
      = f.hidden_field :quick, value: true
      = f.input :email, label: t('devise.quick_registration.label'), label_html: { class: 'control-label input-label' }, input_html: { id: 'email', class: 'form-control' }, type: 'email', placeholder: t('devise.quick_registration.placeholder')
      -# %label.control-label.input-label{for: "email"} Enter Email
      -# %input#email.form-control{name:"email", type: "email", placeholder: "Enter Email"}
  = f.button :submit, t('devise.quick_registration.submit'), class: 'button btn mb-20'
  -# %button.btn.disabled.mb-20 Continue to Checkout
