%ul.steps.list-inline
  %li.step.active
    %span.step-number= t('checkout.steps.first')
    %span.step-text.hidden-xs= t('checkout.steps.address')
  %li.step-divider
  %li.step
    %span.step-number= t('checkout.steps.second')
    %span.step-text.hidden-xs= t('checkout.steps.delivery')
  %li.step-divider
  %li.step
    %span.step-number= t('checkout.steps.third')
    %span.step-text.hidden-xs= t('checkout.steps.payment')
  %li.step-divider
  %li.step
    %span.step-number= t('checkout.steps.fourth')
    %span.step-text.hidden-xs= t('checkout.steps.confirm')
  %li.step-divider
  %li.step
    %span.step-number= t('checkout.steps.fifth')
    %span.step-text.hidden-xs= t('checkout.steps.complete')
