.col-sm-5.col-sm-offset-1
  %p.in-gold-500.font-18.mb-25=t('privacy.title_password')
  .general-form-md.divider-lg-bottom.pb-25
    = simple_form_for user, as: :user, url: user_path(current_user.id), data: { turbo: false }, method: :put do |f|
      = f.hidden_field :type, value: type
      .form-group.mb-30
        = f.input :current_password, label: t('privacy.current_password'), input_html: { id:'old_password_field', class: 'form-control' }, label_html: { class: 'control-label input-label' }, placeholder: t('privacy.current_password'), type: 'password'
        -# = f.full_error :current_password, id: 'old_password_field_err', class: 'form_errors'
      .form-group.mb-30
        = f.input :password, label: t('privacy.password'), input_html: { id: 'password_field', class: 'form-control' }, label_html: { class: 'control-label input-label' }, placeholder: t('privacy.password'), type: 'password'
        -# = f.full_error :password, id: 'password_field_err', class: 'form_errors'
      .form-group.mb-40
        = f.input :password_confirmation, label: t('privacy.password_confirmation'), input_html: { id:'confirm_password_field', class: 'form-control' }, label_html: { class: 'control-label input-label'}, placeholder: t('privacy.password_confirmation'), type: 'password'
      .general-text-align
        = f.button :submit, t('privacy.button_submit_password'), class: 'btn btn-default mb-35'
