
%main.container.general-main-wrap
  .text-center
    %h3.general-login-title= t('devise.sessions.new.log_in')
    = link_to user_google_oauth2_omniauth_authorize_path,  method: :post, data: {turbo: "false"}, class: 'general-login-icon' do
      %i.fa-brands.fa-google-plus-square
    %p.general-login-text= t('devise.sessions.or')
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }, html: {class: "general-form"}) do |f|
    .form-group.mb-30
      = f.label :email, class: "control-label input-label"
      = f.email_field :email, placeholder: t('devise.sessions.enter_email'), autocomplete: "email", class: 'form-control has-error', id: 'email_field'
      = f.full_error :email, id: 'inputEmail', class: 'form_errors'
    .form-group.mb-30
      = f.label :password, class: "control-label input-label"
      = f.password_field :password, placeholder: t('devise.sessions.enter_password'), autocomplete: "current-password", class: "form-control", id: 'password_field'
      = f.full_error :password, class: 'form_errors'
      =link_to new_user_password_path, class: 'help-block in-gold-500' do
        = t('devise.passwords.forgot_password')
    - if defined?(devise_mapping.rememberable?)
      .form-group.checkbox.text-center.mb-30
        %label.checkbox-label
          = f.check_box :remember_me, class: "checkbox-input", hidden: "true"
          %span.checkbox-icon
            %i.fa.fa-check
          %span.checkbox-text=t('sessions.remember_me')
    .text-center
      = f.submit t('devise.sessions.new.login'), class: "btn btn-default mb-20"
      %p.general-sign-text.text-center
        =t('devise.sessions.new.havent_account')
        =link_to new_user_registration_path do
          =t('devise.sessions.new.sign_up')

