
%main.container
  %h1.general-title-margin= t('checkout.title')
  = render partial: 'checkouts/partials/steps'
  %form.res-mb-100
  .tab-content
    .hidden-xs.hidden-sm
      .row
        .col-md-5
          %h3.general-subtitle.mt-0= t('address.billing_address')
        .col-md-5.col-md-offset-1
          %h3.general-subtitle.mt-0= t('address.shipping_address')
    .row
      #billing_address
        -if current_user&.billing_address
          = render partial: 'addresses/partials/form_address', locals: { address: @billing_address.nil? ? current_user.billing_address : @billing_address, type: t('address.type_billing') }
        -else
          = render partial: 'addresses/partials/form_address', locals: { address: @billing_address.nil? ? AddressForm.new(Address.new(type: t('address.type_billing'))) : @billing_address, type: t('address.type_billing') }
      #shipping_address
        -if current_user&.shipping_address
          = render partial: 'addresses/partials/form_address', locals: { address: @shipping_address.nil? ? current_user.shipping_address : @shipping_address, type: t('address.type_shipping') }
        -else
          = render partial: 'addresses/partials/form_address', locals: { address: @shipping_address.nil? ?  AddressForm.new(Address.new(type: t('address.type_shipping'))) : @shipping_address, type: t('address.type_shipping') }
    .general-text-align.mb-60
      %p.in-gold-500.font-18= t('checkout.summary')
      %table.general-summary-table
        %tr
          %td
            %p.font-16= t('checkout.item_total')
          %td
            %p.font-16= t('checkout.sum')
        %tr
          %td
            %p.font-16= t('checkout.order_total')
          %td
            %p.font-16= t('checkout.sum')
      %button.btn.disabled.center-block.mb-20= t('checkout.save')
