%main.container
  %h1.general-title-margin= t('address.settings')
  %ul.nav.clearfix.mb-20{role: "tablist"}
    %li.tab-item.active{role: "presentation"}
      = link_to t('address.address_link'), edit_address_path(current_user.id), class: 'tab-link'
    %li.tab-item{role: "presentation"}
      = link_to t('address.privacy_link'), edit_user_path(current_user.id), class: 'tab-link'
  .tab-content
    #address.tab-pane.fade.in.active{role: "tabpanel"}
    .hidden-xs.hidden-sm
      .row
        .col-md-5
          %h3.general-subtitle.mt-0= t('address.billing_address')
        .col-md-5.col-md-offset-1
          %h3.general-subtitle.mt-0= t('address.shipping_address')
    .row
      #billing_address
        -if current_user.billing_address
          = render partial: 'addresses/partials/form_address', locals: { address: @billing_address.nil? ? current_user.billing_address : @billing_address, type: t('address.type_billing') }
        -else
          = render partial: 'addresses/partials/form_address', locals: { address: @billing_address.nil? ? AddressForm.new(Address.new(type: t('address.type_billing'))) : @billing_address, type: t('address.type_billing') }
      #shipping_address
        -if current_user.shipping_address
          = render partial: 'addresses/partials/form_address', locals: { address: @shipping_address.nil? ? current_user.shipping_address : @shipping_address, type: t('address.type_shipping') }
        -else
          = render partial: 'addresses/partials/form_address', locals: { address: @shipping_address.nil? ?  AddressForm.new(Address.new(type: t('address.type_shipping'))) : @shipping_address, type: t('address.type_shipping') }
